<h2>Welcome to Pizza Shop!</h2>

<div class="row">

	<% @products.each do |product| %>
		<div class="col-md-3">
			<div>
				<%= product.title %>
			</div>

			<div>
				<img src="<%= product.path_to_image %>" height="150" width="150"/>
			</div>

			<div>
				<%= product.description %>
			</div>

			<div>
				Size: <%= product.size %> cm
			</div>

			<div>
				Price: <%= product.price %> rub
			</div>
			
			
		</div>
	<% end %>

</div>
<br />

<button class="btn btn-primary" onclick="something()">Click me!</button>

