<h2>Welcome to Pizza Shop!</h2>

<div class="row">

	<% @products.each do |product| %>
		<div class="col-md-3">
			<div>
				<%= product.title %>
			</div>

			<div>
				<img src="<%= product.path_to_image %>" height="150" width="150"/>
			</div>

			<div>
				<%= product.description %>
			</div>

			<div>
				Size: <%= product.size %> cm
			</div>

			<div>
				Price: <%= product.price %> rub
			</div>
			
			<div>
				<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">Add to cart</button>
			</div>

		</div>
	<% end %>

</div>
