<h2 style="text-align: center;">Welcome to Pizza Shop!</h2>
<br />
<div class="row">

	<% @products.each do |product| %>
		<div class="col-md-3">
			<div id="pizza_title">
				<%= product.title %>
			</div>

			<div id="image">
				<img src="<%= product.path_to_image %>" height="200" width="200"/>
			</div>

			<div id="content">
				<%= product.description %>
			</div>

			<div id="content">
				Size: <%= product.size %> cm
			</div>

			<div id="content">
				Price: <%= product.price %> eur
			</div>
			
			<div id="button_insert">
				<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">Add to cart</button>
			</div>
			<br /><br />
		</div>
	<% end %>

</div>
